// Menu wrapper
.menu-list {
    width: 224px;
    .menu-propper {
        padding-bottom: 8px;
        max-height: 590px;
        overflow-y: auto;
    }
    .menu-item {
        margin-left: 0;
    }
}

// Menu item
.menu-item {
    width: 100%;
    display: inline-flex;
    border-radius: 0;
    padding: 11px 16px;
    background-color: var(--white);
    line-height: 1.8rem;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    min-width: unset;
    background-color: transparent;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
