.wrapper {
    font-size: 1.6rem;
    border-radius: 4px;
    min-width: 100px;
    font-weight: 700;
    padding: 9px 16px;
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
// button type
.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border: 1px solid var(--primary);
    }
}
.outlineSecondary {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--color-secondary);
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.noneStyle {
    width: 20px !important;
    background-color: unset;
    border: none;
    position: relative;
    cursor: pointer;
    font-style: normal;
    padding: 0 4px;
}

// button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    font-size: 1.8rem;
    min-width: 240px;
    padding: 12px 16px;
}

.custom-login{
    color: red;
}