@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;0,700;1,400;1,600;1,700&family=Kanit:wght@400;900&family=Russo+One&display=swap');

:root {
    --primary: #fe2c55;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
}
