.wrapper {
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    &:hover{
        background-color: rgba(22, 24, 35, 0.06);
    }
    .avatar {
        height: 40px;
        width: 40px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;
        margin: 0px 12px 0px 0px;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info {
        .username {
            font-size: 1.6rem;
            display: flex;
            font-weight: 600px;
        }
        .check {
            margin-left: 6px;
            color: rgb(32, 213, 236);
        }
        .name {
            font: 1.4rem;
            color: rgba(22, 24, 35, 0.5);
        }
    }
}
